<div
  class="text-secondary px-4 py-5 text-center pt-0"
  style="padding-bottom: 64px"
>
  <div class="py-5">
    <div class="chart-container chart-style col-10 mx-auto">
      <canvas id="bubbleChartFig1">{{ chart1 }}</canvas>
      <div class="mx-auto" style="max-width: 30%">
        <label
          for="customRange1"
          class="form-label text-white pt-4"
          style="font-size: x-large"
          >% Best Buyers</label
        >
        <input
          type="range"
          #range1
          class="form-range"
          id="customRange1"
          value="27"
          min="10"
          max="100"
          oninput="this.nextElementSibling.value = this.value + `%`"
          (change)="updateData1(range1.value)"
        />
        <output class="text-white">27%</output>
      </div>
    </div>
  </div>
</div>
